#charset "UTF-8"

{
    font-family:arial, helvetica, sans-serif
    /*height 100%;*/
}
body{
    background-image: linear-gradient(#2fa3636b,#a8a74665); 
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.596);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: rgb(0, 195, 255);
    text-align: center;
    border-radius: 100px;
    
    
}
h2{
color: #f507079c;
text-align: center;
box-shadow:  1px 1px 6px rgb(182, 62, 41);

}
p{
    text-align: justify;
}